<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ../partials/head %>
	<title>About | The Irvington Voice</title>
</head>
<body>

	<header>
		<%- include ../partials/header %>
	</header>

	<main>
		<h1>About</h1>
		<p>The Voice is a student-run newspaper with the sole purpose of providing an open forum for student expression. Anything published represents the opinion of the writer, but not necessarily that of the Voicestaff, the administration or faculty of Irvington High School, or any person affiliated with the Fremont Unified School District (FUSD). The Voice does not discriminate against race, political orientation, ethnicity, religion, gender, sexual orientation, or disability. Although the Voice will never refuse to publish student guest submission based on the aforementioned factors, we reserve the right to edit or not publish them.</p>
		<p>We are located at Irvington High School, 41800 Blacow Rd. Fremont, CA 94538</p>
		<p><strong>Contact Information</strong></p>
		<p>Phone: (510) 656-5711 ex. 46398</p>
		<p>Email: irvingtonvoice@gmail.com</p>
		<p>Facebook:&nbsp;<a href="https://www.facebook.com/theihsvoice" target="_blank" rel="noopener noreferrer">facebook.com/theihsvoice</a></p>
		<p>Instagram: <a href="https://www.instagram.com/ihs.voice" target="_blank" rel="noopener noreferrer">www.instagram.com/ihs.voice</a></p>
		<p>Twitter: <a href="https://twitter.com/ihsvoice" target="_blank" rel="noopener noreferrer">@IHSVoice</a></p>
	</main>
	
</body>
</html>