<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
    <title>Customize | The Irvington Voice</title>
    <script src="/__/firebase/7.15.2/firebase-app.js"></script>
    <script src="/__/firebase/7.15.2/firebase-auth.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

	<header>
		<%- include('../partials/header') %>
	</header>

	<main>
        <a href="/dashboard" >
            &larr; back to dashboard
        </a>
        <h1>Site Customization</h1>
        <div>
            <p>work in progress. i'll finish this after ap exams prob</p>
        </div>
	</main>
    <script src="/__/firebase/init.js"></script>
</body>
</html>