<div>
	<a href="/">
		<img id="header" src="/static/img/voice.png" alt=""></img>
	</a>
	<ul id="smallnav">
	  <li><a href="/about">about</a></li>
	  <li><a href="/staff">staff</a></li>
	  <li><a href="https://issuu.com/ihsvoice/docs">print edition</a></li>
	</ul>
	<hr />
	<ul id="nav">
	  <li><a href="/category/news">NEWS</a></li>
	  <li><a href="/category/student-life">STUDENT LIFE</a></li>
	  <li><a href="/category/opinions">OPINIONS</a></li>
	  <li><a href="/category/entertainment">ENTERTAINMENT</a></li>
	  <li><a href="/category/humor">HUMOR</a></li>
	  <li><a href="/category/sports">SPORTS</a></li>
	  <li><a href="/category/humans-of-irvington-high">HUMANS OF IHS</a></li>
	</ul>
</div>