input[type=text], input[type=email], input[type=password] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #2549ad;
}
    
button, input[type=button], input[type=submit], input[type=reset], #signout {
    background-color: #2549ad;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
    
button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, #signout:hover {
    background-color: #1e73be;
}