body {
margin: 0;
font-family: Catamaran, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
overflow-x: hidden;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}

#header {
width: 100%;
height: 100%
}

#nav {
width: 100%;
margin: 0 0 3em 0;
padding: 0;
list-style: none;
text-align: center;
}

#smallnav {
width: 100%;
margin: 0;
padding: 0;
list-style: none;
text-align: center;
}

#nav li, #smallnav li {
display:inline;
}

#nav li a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-right: 1px solid #ccc;
font-family: Catamaran;
transition: background-color 0.5s ease;
background-color: #ffffff;
}

#smallnav li a {
display: inline-block;
padding: 4px 8px;
text-decoration: none;
font-weight: bold;
color: #000000;
border-right: 1px solid #ccc;
font-family: Catamaran;
transition: background-color 0.5s ease;
background-color: #ffffff;
}

#nav li:last-of-type a, #smallnav li:last-of-type a {
border-right: none;
}

#nav li a:hover, #smallnav li a:hover {
background-color: #ebeef9;
}

#article, main, #staff {
max-width: calc(100% - 50px);
margin: 0 auto;
margin-bottom: 25px;
}

.headline, .byline, .pubdate, .content, #bio, #staffheadline, .tags, .categories {
font-family: Catamaran;
}

.headline, #bio {
font-weight: 400;
}

.byline, .pubdate, .content, #staffheadline, .tags, .categories {
font-weight: 100;
}

@media screen and (min-width: 800px) {
#staff {
display: inline;
}

.staff.left {
float: left;
width: 31.25%;
margin-right: 2.5%
}

.staff.right {
float: right;
width: 66.25%;
}

#homecontainer {
display: inline;
}

.left {
float: left;
width: calc(75% - 50px);
margin-right: 2.5%
}

.right {
float: right;
width: calc(31.25% - 50px);
}
#topbartitle, #topbarcategory {
display: none !important;
}
}

@media screen and (max-width: 800px) {
#staff {
display: block;
}

.staff.left {
width:100%;
}

.staff.right {
width:100%;
}

#sidebar {
text-align: center;
}

#sidebarwrap {
width: calc(100% - 50px);
display: inline-block;
text-align: left;
}
#reading-progress-bar {
position: sticky;
height: 5px;
top: -50px;
background-color: #2549ad;
transition: top 0.3s;
}
#top-bar {
position: sticky;
height: 50px;
display: none;
top: 0px;
background-color: #ffffff;
transition: display 0.3s;
}
#topbartitle, #topbarcategory {
text-align: center;
margin: 0;
}
}

#aboutwriter {
margin-top: 10px;
border-top: 10px solid #2549ad;
border-bottom: 10px solid #2549ad;
display: block;
margin-bottom: 30px;
}

#sidebarhead {
border-top: 1px solid #1e73be;
border-bottom: 1px solid #1e73be;
text-align: center;
}

#staffname {
margin-top: 0;
font-weight: 700;
}

#about {
display: inline;
}

#profpic {
float: left;
width: 120px;
height: 120px;
max-height: 100%;
margin-right: 15px;
}

.writer {
padding-bottom: 20px;
}

.write div:last-of-type {
padding-bottom: 40px;
}

.staffaboutname {
font-size: 16px;
font-weight: 700;
}

ul.tags, ul.categories {
list-style-type: none !important;
margin: 0;
padding: 0;
}

li.tags a:hover,li.categories a:hover{
text-decoration:none;
}

li.tags, li.categories {
background-color: #022140 !important;
color: #ffffff;
border-radius: 3px;
padding: 6px 6px !important;
margin: 0px 10px 10px 0px;
list-style-type: none;
display: inline;
font-size: 16px;
line-height: 1.2em;
text-transform: capitalize;
display: inline-block;
}

li.tags:hover, li.categories:hover {
background-color: #222222 !important;
color: #ffffff;
}

li.tags:hover a, li.categories:hover a {
color: #ffffff;
}

li.tags a, li.categories a {
color: #ffffff;
}

li.tags a:hover, li.categories a:hover {
color: #ffffff;
}

ul.categories {
text-align:center;
}

.blurbs {
list-style-type: none;
padding: 0;
margin-top: 0;
}

a, a:visited {
text-decoration: none;
color: inherit;
}

a:hover {
text-decoration: underline;
text-decoration-color: inherit;
}

td {
text-decoration: none !important;
}

td.pubdate {
min-width: 150px;
margin-top: 50px
}

table.blurbs {
border-collapse: collapse;
border-spacing: 0px 5px;
width: 100%;
}

tr {
border-bottom: 10px solid #ffffff;
width: calc(100% - 5px);
display: inline-block;
padding: 5px;
background-color: #eeeeee;
}

tr:hover {
background-color: #cccccc;
}

div.blurb h1{
margin-top: 0;
}

h2 {
margin-top: 0;
}

img {
max-width: 100% !important;
}

img.wp-caption {
max-width: 100% !important;
height: auto;
}

.wp-caption.right {
float: right;
margin: 0 0 10px 20px !important;
max-width: 100% !important;
}

.alignright {
float: right;
margin: 0 0 10px 20px !important;
max-width: 100% !important;
max-height: 100% !important;
height: auto;
}

.wp-caption.left {
float: left;
margin: 0 20px 10px 0 !important;
max-width: 100% !important;
}

.alignleft {
float: left;
margin: 0 20px 10px 0 !important;
max-width: 100% !important;
max-height: 100% !important;
height: auto;
}

.alignnone {
float: right;
margin: 0 0 10px 20px !important;
max-width: 100% !important;
max-height: 100% !important;
height: auto;
}

.aligncenter {
clear: both;
display: block;
margin: 7px auto;
max-width: 100% !important;
max-height: 100% !important;
height: auto;
}

.content {
overflow: hidden;
}

#gridwrap {
height: 0;
width: calc(100% - 50px);
margin: auto;
}

#grid-display {
display: grid;
grid-auto-rows: 1fr;
grid-auto-columns: 1fr;
grid-gap: 5px;
margin-bottom: 25px;
}

#grid-display::before {
content: '';
width: 0;
padding-bottom: 100%;
grid-row: 1 / 1;
grid-column: 1 / 1;
}

#grid-display > * {
border: 3px white solid;
}

.buttons {
text-align: center;
background: #ddd;
margin-bottom: 10px;
padding: 5px 5px;
}

#paginate {
background: #fff;
border: 1px solid #1e73be;
color: #1e73be;
margin-right: 4px;
padding: 4px 8px;
text-align: center;
text-decoration: none;
}

#paginate:hover {
background: #eee;
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
grid-auto-rows: 12rem;
}

.grid > *:first-child {
grid-row: 1 / 1;
grid-column: 1 / 1;
}

.grid > * {
text-align: center;
display: flex;
justify-content: flex-end;
flex-direction: column;
}

.staffname {
background-color: #fff;
text-align: center;
padding: 5px;
font-size: 10px;
}

label, button {
margin-top: 5px;
}

input[type=text], input[type=email], input[type=password] {
width: 100%;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #2549ad;
}

button, input[type=button], input[type=submit], input[type=reset], #signout {
background-color: #2549ad;
border: none;
color: white;
padding: 8px 16px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, #signout:hover {
background-color: #1e73be;
}

.catboxphoto {
width: 100%;
margin-bottom: -5px;
vertical-align: middle;
}

.permalinkphotobox {
max-width: 300px;
float: right;
margin: 0 0 10px 10px;
min-width: 50%;
}

.clear {
clear: both;
}

.captionbox, .captionboxtop {
background: #eeeeee;
border: 1px solid #dddddd;
color: #000;
padding: 10px 10px 3px;
}

.photocredit, .photocaption {
font-size: 14px;
line-height: 20px;
font-weight: 400;
margin-bottom: 4px;
padding-bottom: 0;
margin: 0;
margin-bottom: 4px;
}

.photocredit {
text-align: right;
}

.storyshadow {
box-shadow: -1px 0 2px 0 rgba(0,0,0,.12), 1px 0 2px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
}

.wp-caption {
background: #eeeeee;
border: 1px solid #dddddd;
color: #000;
box-shadow: -1px 0 2px 0 rgba(0,0,0,.12),1px 0 2px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}

.wp-caption-text {
font-size: 14px !important;
line-height: 20px !important;
margin: 5px 10px 10px !important;
padding: 5px 0 0 !important;
font-family: Catamaran;
font-weight: 400;
}

div.classic > h1.headline {
text-align: left !important;
font-weight: 400;
line-height: 1.1em !important;
color: #000;
margin: .5em 0;
}

#draft {
width: 100%;
}

#footer {
width: 100%;
text-align: center;
}

div.container > div#sidebar > div#sidebarwrap{
margin-right: 0 !important;
}

#progbar {
position: fixed;
top: 0;
z-index: 1;
width: 100%;
background-color: #ffffff;
text-align: center;
}

/* The progress container (grey background) */
.progress-container {
width: 100%;
height: 8px;
background: #ffffff;
}

/* The progress bar (scroll indicator) */
.progress-bar {
height: 8px;
background: #2549ad;
width: 0%;
} 

#progbar > h5, #progbar > h6 {
margin: 0;
}
#progbar > h6 {
margin: 0;
text-transform: capitalize;
}

.grid-item {
width: 100%;
height: 100%; 
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center; 
}