body {
    margin: 0;
    font-family: Catamaran, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#header {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#smallnav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#nav li, #smallnav li {
    display:inline;
}

#nav li a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-right: 1px solid #ccc;
    font-family: Catamaran;
    transition: background-color 0.5s ease;
    background-color: #ffffff;
}

#smallnav li a {
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    border-right: 1px solid #ccc;
    font-family: Catamaran;
    transition: background-color 0.5s ease;
    background-color: #ffffff;
}

#nav li:last-of-type a, #smallnav li:last-of-type a {
    border-right: none;
}

#nav li a:hover, #smallnav li a:hover {
    background-color: #ebeef9;
}

main {
    max-width: calc(100% - 50px);
    margin: 0 auto;
    margin-bottom: 25px;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
}

td {
    text-decoration: none !important;
}

tr {
    border-bottom: 10px solid #ffffff;
    width: calc(100% - 5px);
    display: inline-block;
    padding: 5px;
    background-color: #eeeeee;
}

tr:hover {
    background-color: #cccccc;
}

h2 {
    margin-top: 0;
}

img {
    max-width: 100% !important;
}

label, button {
    margin-top: 5px;
}

#draft {
    width: 100%;
}

#footer {
    width: 100%;
    text-align: center;
}